body {
background-color: #656661;
font-family: verdana, arial, helvetica, sans-serif;
color: white;
}

.form {
	background-color: #BBB3E3;
	border-radius: 10px;
	width: 20%;
	padding: 20px;
}

.button {
	background-color: #BBB3E3;
	width: 40px;
	padding: 10px 20px;
	margin: 10px;
}